<div id="wrapper" class="divided">
    <section class="wrapper style1 align-center">
        <div class="inner">
            <div *ngIf="errorGeneral">
                <label>{{errorGeneral}}</label>
            </div>
            <div *ngIf="respuestaServicio">
                <label>Se ha registrado la donaci&oacute;n {{respuestaServicio?.datos?.codigo_donacion}}</label>
                <br />
                <button id="btnOk" class="button primary fit"
                                        (click)="recargarPagina()">ACEPTAR</button>
            </div>

            <div *ngIf="!errorGeneral && !respuestaServicio">
                
                <div class="index align-left">
                    <section>
                        
                        <div class="content">
                            <header>
                                <h3>Formulario</h3>
                            </header>
                            <form id="registerForm" action="">
                                <div class="fields">
                                    <div class="field half">
                                        <label for="id">Identificaci&oacute;n</label>
                                        <input type="text" name="id" id="id"
                                            [(ngModel)]="parametrosUsuario['identificacion']" />
                                        <label for="id" *ngIf="validaciones['identificacion']"
                                            style="color: red; text-align: right;">Ingrese una
                                            identificaci&oacute;n</label>
                                    </div>
                                    <div class="field half">
                                        <label for="nombre">Nombre</label>
                                        <input type="text" name="nombre" id="nombre"
                                            [(ngModel)]="parametrosUsuario['nombre']" />
                                        <label for="nombre" *ngIf="validaciones['nombre']"
                                            style="color: red; text-align: right;">Ingrese un nombre</label>
                                    </div>
                                    <div class="field">
                                        <label for="evento">Evento</label>
                                        <select name="evento" id="evento" (change)="onEventoSelected($event)">
                                            <option value="">- Seleccione -</option>
                                            <option *ngFor="let evento of respuestaEventos?.datos?.eventos"
                                                value="{{evento.codigoEvento}}">
                                                <div [innerHTML]="evento.nombreEvento"></div>
                                            </option>
                                        </select>
                                        <label for="evento" *ngIf="validaciones['evento']"
                                            style="color: red; text-align: right;">Seleccione un evento</label>
                                    </div>
                                    <div class="field half">
                                        <label for="puntosEntrega">Punto de Entrega</label>
                                        <select name="puntosEntrega" id="puntosEntrega"
                                            (change)="onPuntoEntregaSelected($event)">
                                            <option value="">- Seleccione -</option>
                                            <option *ngFor="let punto of respuestaPuntosEntrega?.datos?.puntosEntrega"
                                                value="{{punto.codigoPuntoEntrega}}">
                                                <div [innerHTML]="punto.nombrePuntoEntrega"></div>
                                            </option>
                                        </select>
                                        <label for="puntosEntrega" *ngIf="validaciones['punto_entrega']"
                                            style="color: red; text-align: right;">Seleccione un punto de
                                            entrega</label>
                                    </div>
                                    <div class="field half">
                                        <label for="responsable">Responsable</label>
                                        <input type="text" name="responsable" id="responsable"
                                            value="{{responsablePuntoEntrega}}" readonly />
                                    </div>
                                    <div class="field">
                                        <label for="boleto">N&uacute;mero de Boleto</label>
                                        <input type="text" name="boleto" id="boleto"
                                            [(ngModel)]="parametrosUsuario['boleto']" />
                                        <label for="boleto" *ngIf="validaciones['boleto']"
                                            style="color: red; text-align: right;">Ingrese un n&uacute;mero de
                                            boleto</label>
                                    </div>
                                    <div class="field">
                                        <label for="event">Items</label>
                                        <label for="boleto" *ngIf="validaciones['items']"
                                            style="color: red; text-align: right;">Ingrese al menos un item</label>
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>Cantidad</th>
                                                    <th>Descripci&oacute;n</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of itemsDonacion">
                                                    <td>{{item.cantidad}}</td>
                                                    <td>{{item.descripcion}}</td>
                                                    <td style="text-align: right;">

                                                        <i class="fas fa-edit" aria-hidden="true"
                                                            style="color: blue; font-size: 30px;"
                                                            (click)="modificarElemento(item.tmpId)"></i>

                                                        <i class="fa fa-times-circle" aria-hidden="true"
                                                            style="color: red; font-size: 30px;"
                                                            (click)="eliminarElemento(item.tmpId)"></i>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td style="text-align: right;">
                                                        <i class="fa fa-plus-circle" aria-hidden="true"
                                                            style="color: blue; font-size: 30px;"
                                                            (click)="agregarElemento()"></i>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <div class="field half" *ngIf="item_accion === 'M'">
                                        <label for="cantidad_nuevo">Cantidad</label>
                                        <input type="number" name="cantidad_nuevo" id="cantidad_nuevo"
                                            [(ngModel)]="itemSeleccionado.cantidad"
                                            value="itemSeleccionado?.cantidad"
                                            numbersOnly/>
                                    </div>
                                    <div class="field half" *ngIf="item_accion === 'M'">
                                        <label for="descripcion_nuevo">Descripcion</label>
                                        <input type="text" name="descripcion_nuevo" id="descripcion_nuevo"
                                            [(ngModel)]="itemSeleccionado.descripcion"
                                            value="itemSeleccionado?.descripcion"
                                            (keyup.enter)="completarEdicionItem()" />
                                    </div>
                                </div>
                            </form>
                            
                            <div style="text-align: center;">
                                <label for="boleto" *ngIf="validaciones['general']" style="color: red;">El
                                    formulario tiene uno o m&aacute;s campos en blanco</label>
                                <button id="btnRegistrarDonacion" class="button primary fit"
                                    (click)="registrarDonacion()">Registrar Donaci&oacute;n</button>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
</div>